.header {
  display: 'flex';
  justify-content: 'space-between';
  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  height: 100px;
  align-items: center;
}
.header_li {
  margin-right: 20px;
  color: black;
  display: flex;
  align-items: center;
}
