.ul_main_page {
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  /* display: 'flex ', */
  /* padding: '0', */
  flex-wrap: 'wrap';
  /* maxWidth: '1759px', */
  /* width: 'auto', */
  /* flexDirection: 'row', */
}

.selector_main {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  padding: 10px;
  width: 500px;
}
.title {
  font-family: var(--font-alfaSlabOne);
  color: #fe602f;
  font-size: 48px;
  margin-top: 100px;
  text-align: center;
}
.Popular3Courses {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.mainFirstimage {
  /* width: 500px; */
  /* height: 400px; */
}

@media (max-width: 768px) {
  .Popular3Courses {
    font-size: 25px;
    margin-top: 20px;
  }
  .mainSecondImage {
    display: none;
  }
  .mainFirstimage {
    margin: 20px;
  }
  .ul_main_page {
    min-height: 100px;
  }
}
