.title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  opacity: 0.9;
}
.image {
  width: 500px;
  height: 400px;
}

@media (max-width: 768px) {
  .image {
    width: 250px;
    height: 200px;
  }
  .title {
    font-size: 16px;
  }
}
