.section_background {
  background-image: url('/assets/sideRight.png');
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-alfaSlabOne);
  color: #fff;
  font-size: 34px;
}

@media (max-width: 968px) {
  .backgroundTitle {
    margin: 0 50px;
    font-size: 16px;
  }
  .section_background {
    height: auto;
    padding: 50px 0px;
  }
}
