.li_card_item {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  margin: 20px;
  list-style: none;
  border-radius: 10px;
  width: 400px;
  max-height: 520px;
}
.cards {
  display: grid;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  gap: 2.5rem;
  max-width: 1320px;
}
.textWrapper {
  padding: 1px 20px 10px 30px;
}
.cardImage {
  width: 400px;
  height: 246px;
}
.cardDescription {
  color: #1f1c14;
  font-size: 14px;
  opacity: 70%;
  overflow: auto;
  height: 80px;
  padding-top: 20px;
}
.cardTitle {
  color: #fe602f;
  font-size: 26px;
  font-weight: 900;
  padding-top: 30px;
}
.rating {
  position: absolute;
  background-color: #fff;
  margin-top: 16px;
  /* padding: 5px 18px; */
  width: 80px;
  height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #fab437;
  border-radius: 0px 10px 10px 0px;
}
.free {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #a2bf00;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.free:hover {
  background-color: #8ca119;
}

.paid {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #fe8863;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.paid:hover {
  background-color: #ec724d;
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .li_card_item {
    margin: 0;
    min-height: 480px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1280px) {
  .li_card_item {
    width: 300px;
    max-height: 430px;
    margin: 5px;
    padding: 0 0 10px 0;
  }
  .textWrapper {
    padding: 5px 10px;
  }
  .cardImage {
    width: 300px;
    height: 206px;
  }
}
