.ul_main_page {
  min-height: 600px;
  display: flex;
  /* //alignContent: center; */
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  width: 1320px;
}

.selector_main {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.28);
  padding: 10px;
  width: 500px;
}
.title {
  font-family: var(--font-alfaSlabOne);
  color: #fe8863;
  font-size: 42px;
  text-align: center;
}
