.container {
  display: flex;
  min-height: 100vh;
}
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.divider {
  border-bottom: 2px solid #fff;
  margin: 25px 0 15px;
}
.main {
  background-color: #fff;
  flex: 5;
  padding: 30px 80px;
}
.profileAside {
  background-color: #08a5d3;
  flex: 1.4;
  white-space: nowrap;
}
.profileIconsContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 20px;
}
.iconAvatar {
  margin: 0 auto;
}
.navLink {
  display: flex;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  padding: 15px 40px;
  /* margin: 10px 5px; */
  margin: 0px 5px;
}
.navLinkActive {
  display: flex;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  cursor: pointer;
  padding: 5px 40px;
  margin: 10px 5px;
  color: #fe602f;
}
.navLinkIcon {
  margin: auto 10px;
  width: 19px;
  height: 18px;
}
.navLinkWrapper {
  background-color: white;
  display: flex;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.profileLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 5px;
  cursor: pointer;
}

.profileLinkActive {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fe602f;
  padding: 15px 5px;
  background-color: #fff;
  cursor: pointer;
}
.layoutHeader {
  display: none;
}
@media (max-width: 1215px) {
  .main {
    padding: 0px;
  }
}

@media (max-width: 1135px) {
  .profileAside {
    display: none;
  }
  .layoutHeader {
    display: block;
  }
}

@media (max-width: 968px) {
}
