.main {
  background-color: #08a5d3;
}
.container {
  width: 100%;
  height: 300px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.ContactUsTitle {
  color: #fff;
  font-size: 20px;
}
.ContactUsDescription {
  color: #fff;
  margin-top: 40px;
}

.leftBlock {
  width: 400px;
  height: 130px;
  padding: 40px;
}

.rightBlock {
  width: 400px;
  height: 130px;
  padding: 40px;
}
.middleLineHorizontal {
  border-left: 1px solid #fff;
  height: 300px;
}
.middleLineVertical {
  display: none;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  width: 200px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
}
.images {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.phoneNumber {
  display: flex;
  margin: 0 auto;
}
.emailWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 1020px) {
  .middleLineHorizontal {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
  }
  .images {
    justify-content: center;
    margin: 0;
    align-items: center;
  }
  .container {
    display: block;
    text-align: center;
    max-width: 300px;
    height: 250px;
  }
  .leftBlock {
    margin: 0 auto;
    width: auto;
    height: 100px;
    padding: 0;
  }
  .rightBlock {
    margin: 0 auto;
    padding: 0;
    height: 100px;
    width: auto;
  }
  .middleLineHorizontal {
    display: none;
  }
  .middleLineVertical {
    display: flex;
    margin-top: 15px;
  }
  .ContactUsDescription {
    font-size: 12px;
    margin-top: 20px;
  }
  .ContactUsTitle {
    font-size: 16px;
  }
  .emailWrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .phoneNumber {
    justify-content: center;
  }
}
