.backgroundCourseImage {
  background-image: url('/assets/CourseImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.container {
  font-family: var(--font-alfaSlabOne);
  background-color: #a2bf00;
  padding: 50px 60px;
  color: #fff;
  display: flex;
  font-size: 30px;
}
.startLessonBtn {
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  justify-content: center;
  font-size: 18px;
  color: #fe602f;
}
.bookmarkBtn {
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  border: #ffffff 2px solid;
  background-color: #a2bf00;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
