.bookmarksLessonCard {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 900px;
  min-height: 265px;
  padding: 50px 60px;
  margin-top: 30px;
}
.main {
  width: 1020px;
  margin: 0 auto;
}


@media (max-width: 1421px) {
.main {
  width: auto;
}
}